 
 body {
    background: linear-gradient(to right,  #f8f8f8 0%, #fff 100%); 
 }
 
 
 
 .windor {
    background: linear-gradient(to right,  #f8f8f8 0%, #fff 100%);
   width: 100%;
   height: 100%;
  
   
  }

  @font-face {
    font-family: regul;
    src: url(TTLakesCondensed-MediumItalic.woff);
  }

  @font-face {
    font-family: hkjj;
    src: url(TTLakesCompressed-Regular.woff);
  }

.container {
   display: flex;
   flex-wrap: wrap;
  width: 100%;
 
   gap: 16px 32px;
   margin-left: 50px;
   
}



 



    


.title {
    width: 100%;
    height: 80px;
    padding-left: 50px;
    box-sizing: border-box;
    
    margin-bottom: 0;
    margin-top: 0;
    font-family: regul;
    font-weight: 300;
    font-size: 22px;
    letter-spacing:1px ;
    color: #7e7e82;
    background: linear-gradient(to right, #f8f8f8 0%, #fff 100%);
    text-transform: uppercase;
    padding-top: 26px;
   
    border-top: solid 1px  #D9FFF5;
  border-bottom: solid 2px  #f8f8f8 ;

}

.rotated {
    transform: rotate(180deg); /* Поворот на 160 градусов */
    transition: transform 0.3s ease; /* Плавная анимация */
        }

.opas {
    opacity: 0;
}

.btn {
   
margin-left: 60px;
padding-top: 20px;

}


#toggleButton {
    font-family:  hkjj;
    font-size: 20px;
    background: none;
    border: none;
    grid-area: 4/1;
}

.svg {
    width: 9px;
    height: 13px;
  margin-right: 0px;
}









   @media (max-width:768px) {
      .swiper {
        display: none;
      }
    

    #card1 {
        order: 2;
     }
     
     
     #card2 {
        order: 1;
     }
     .disp2 {
        display: none;
     }
   }





   @media (max-width:400px) {
    .windor {
        display: none;
    }

    .title{
        margin-left: 0px;
        padding-left: 10px;
        height: 85px;
    }


   
   }

  
   